<% car.forEach((car,i)=>{%>
<tr id="carTableRow<%=i%>" class="carTableRow">
  <td>
    <input
      class="form-check-input"
      type="checkbox"
      id="inlineCheckbox<%=i%>"
      value="<%=car._id%>"
      onchange="selectRow(event,'<%=i%>')"
    />
  </td>
  <td><%= car.name%></td>
  <td><%= car.type%></td>
  <td><%= car.fuel%></td>
  <td><%= car.price%></td>
  <td><%= car.ecoType%></td>
</tr>
<% }) %>
